BOT_TOKEN=8522833847:AAFH3K_8MqKYyvMALo_RUzeVugVlUvmYAuk
DRIVE_FOLDER_ID=1lLKbFPovufWeEkwpCgI3cM-Je-Uee9el
GOOGLE_CLIENT_ID=108880269998-3mp1rmiidgh2l2j67d7jfrlnjn8poilq.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=1//09tMMnRqASTUnCgYIARAAGAkSNwF-L9Ire_dcKaf6gumTUszgGzhIUUNdnbFcM5xEK2EBSQoNSWJ6V1ukYPGlV6ob2rlSoQ7PMY8
ADMIN_IDS=5749748972
PORT=8080
