# توكن البوت (من BotFather)
BOT_TOKEN=8522833847:AAFH3K_8MqKYyvMALo_RUzeVugVlUvmYAuk

# معرف مجلد Google Drive الذي يحتوي على الفيديوهات
DRIVE_FOLDER_ID=1lLKbFPovufWeEkwpCgI3cM-Je-Uee9el

# بيانات تطبيق OAuth من Google Cloud Console (OAuth client ID > Desktop app)
GOOGLE_CLIENT_ID=108880269998-3mp1rmiidgh2l2j67d7jfrlnjn8poilq.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# يُنتَج مرة واحدة فقط بتشغيل get_token.py محلياً
GOOGLE_REFRESH_TOKEN=1//09tMMnRqASTUnCgYIARAAGAkSNwF-L9Ire_dcKaf6gumTUszgGzhIUUNdnbFcM5xEK2EBSQoNSWJ6V1ukYPGlV6ob2rlSoQ7PMY8

# معرف تيليجرام الخاص بك (احصل عليه من @userinfobot)، يفصل بينها بفاصلة إن وُجد أكثر من مشرف
ADMIN_IDS=@AzriSafi

# يُضاف تلقائياً بواسطة Render، لا حاجة لتعيينه يدوياً هناك
PORT=10000
